html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: green;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#config {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#config.config_opened {
  width: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.8);
}

#config .config_trigger {
  cursor: pointer;
}
#config.config_opened .config_trigger {
  color: red;
}

#config .config_content {
  display: none;
}
#config.config_opened .config_content {
  display: block;
  margin-bottom: 5px;
}

#config_apply {
  position: relative;
  background-color: lightgreen;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.99);
}
#config_apply:hover {
  background-color: green;
  color: white;
}
#config_apply::after {
  display: block;
  width: calc(100%);
  height: 8px;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* mime table */
#config .config_line {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#config .config_line span {
  display: inline-block;
  width: 70px;
}

#config .config_line input[type="range"] {
  flex-grow: 1;
}
